{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Discussions</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>Discussions</th>
        <th class="text-center align-middle">Posts</th>
        <th class="text-center align-middle">Topics</th>
        <th class="text-center align-middle">Last Post</th>
      </tr>
    </thead>
    <tbody>
      {% for d in discussions %}
        <tr>
          <td>
            <a href="{% url 'url_discussion_topics' d.pk %}">{{ d.name }}</a>
            <small class="text-muted d-block">{{ d.description }}</small>
          </td>
          <td class="text-center align-middle">{{d.get_posts_count}}</td>
          <td class="text-center align-middle">{{d.get_topics_count}}</td>
          <td class="text-center align-middle">{{d.get_mess}}
            {% if d.get_topics_count != 0 %} <!--if post riittäisi alemmaksi-->
              {% with post=d.get_last_post %}
                <small>
                  <a href="{% url 'url_topic_posts' d.pk post.topic.pk %}">
                    By {{ post.created_by.username }} at {{ post.created_at }}
                  </a>
                </small>
              {% endwith %}
            {% else%}
              <span class="text-muted"></span>
            {% endif%}
          </td>
        </tr>
      {% endfor %}
  </tbody>
  {% endblock %}
</table>
