{% extends 'base.html' %}

{% block title %}
  {{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{%url 'url_home' %}">Discussions</a></li>
  <li class="breadcrumb-item active">{{ discussion.name }}</li>
{% endblock %}

{% block content %}
    <div class="mb-4">
      <a class="btn btn-primary" href="{%url 'url_new_topic' discussion.pk%}">
        New Topic
      </a>
    </div>
    <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th class="text-center">Topic</th>
        <th class="text-center">Starter</th>
        <th class="text-center">Replies</th>
        <th class="text-center">Views</th>
        <th class="text-center">Last Update</th>
        <th class="text-center">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for topic in topics %}
        <tr>
          <td class="align-middle">
            <a href="{%url 'url_topic_posts' discussion.pk topic.pk%}">
              {{ topic.subject }}
            </a>
          </td>
          <td class="text-center align-middle">{{ topic.starter.username }}</td>
          <td class="text-center align-middle">{{topic.numbOfReplies}}</td>
          <td class="text-center align-middle">{{topic.views}}</td>
          <td class="text-center align-middle">{{ topic.last_updated }}</td>
          <td class="text-center align-middle">
            {% if topic.starter == user %}
              <a href="{%url 'url_edit_topic' discussion.pk topic.pk%}">
                Edit
              </a>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% include 'includes/pagination.html' %}

{% endblock %}
